<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Liste tokens</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Libelle compteur</th>
            <th>type token price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let token of tokens | async">
            <td style="color:red">{{token.user.username}}</td>
            <td>{{token.compteur.libelle}}</td>
            <td>{{token.typetoken.prix}} </td>
            <td><button (click)="deleteToken(token.id)" class="btn btn-danger">Supprimer</button>
              <button (click)="updateToken(token.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>