<br><br><br>
<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="color:coral">Libelle Compteur</th>
          <th style="color:red">Utilisateur</th>
          <!--<th>Actions</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compteurByUser of compteurByUsers | async">
          <td>{{compteurByUser.libelle}}</td>
          <td style="color:blueviolet">{{compteurByUser.user.username}}</td>
          <!--<td><button (click)="deleteCompteurByUser(compteur.id)" class="btn btn-danger">Supprimer</button>
             <button (click)="updateCompteurByUser(compteur.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
          </td>-->
        </tr>
      </tbody>
    </table>
  </div>
</div>

