<h3>Modification Token</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Ancien Libelle Compteur: </label>
      <button class="btn btn-danger" type="button">{{ancienCompteur}}</button>
      <br>
      <label for="name">Libelle Compteur</label>
      <select name="compteur" [(ngModel)]="token.compteur">
        <option *ngFor="let compteur of compteurs | async"   [ngValue]="compteur">{{compteur.libelle}}</option>
      </select>   
    </div>

    <div class="form-group">
      <label for="name">Ancien Prix Token : </label>
      <button class="btn btn-danger" type="button">{{ancienPrix}}</button>
      <br>

      <label for="name">Nouveau Prix Token: </label>

      <select name="typetoken" [(ngModel)]="token.typetoken">
        <option *ngFor="let typetoken of typetokens | async"   [ngValue]="typetoken">{{typetoken.prix}}</option>
      </select>   
     </div>

     <button type="submit" class="btn btn-success">Modifier</button>
  </form>
</div>
