<br><br><br>
<h1><i><u>Nombre des Commandes par année</u></i></h1>
<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="color:burlywood">Année</th>
          <th style="color:red">Nombre</th>
          <th>Pourcentage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statistiqueAnnuel of statistiqueAnnuels | async">
          <td style="color:blueviolet">{{statistiqueAnnuel.annee}}</td>
          <td>{{statistiqueAnnuel.nb}}</td>
          <td>pourcentage</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

