<br><br><br>
<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prix</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typetoken of typetokens | async">
          <td>{{typetoken.nom}}</td>
          <td>{{typetoken.prix}}</td>
          <td><button (click)="deleteTypetoken(typetoken.id)" class="btn btn-danger">Supprimer</button>
             <button (click)="updateTypetoken(typetoken.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

