<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Liste centre recharges</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Libelle</th>
            <th>Gouvernorat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let centreRecharge of centreRecharges | async">
            <td>{{centreRecharge.libelle}}</td>
            <td style="color:red">{{centreRecharge.gouvernorat.nom}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>