<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Details recharges</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Utilisateur</th>
            <th>montant rechargé</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recharge of recharges | async">
            <td style="color:green">{{recharge.user.username}}</td>
            <td style="color:red">{{recharge.prix}} TND</td>
            <!--<td><button (click)="deleteRecharge(recharge.id)" class="btn btn-danger">Paiement</button>
              <button (click)="updateRecharge(recharge.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>